---
import MainLayout from "../layouts/MainLayout.astro";
---

<MainLayout title="Blog Page" description="This is my blog page">
  <div>
    <a href="./about">About Page</a>
    <a href="/">Home Page</a>
    <a href="/blog">Blog Page</a>
  </div>
  <h1>Astro</h1>
  <h2>My first blog page in astro site</h2>
</MainLayout>
