---

---

<div class="flex flex-col border-1 w-fit rounded-xl">
  <div class="w-[325px] flex flex-col mb-20">
    <img class="rounded-t-xl"
      src="https://images.unsplash.com/photo-1740109955032-47b9b42bc153?q=80&w=3270&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D"
      alt=""
    />
    <h2 class="text-2xl pt-5 px-5">How to plan your tax when Tax law is changing</h2>
  </div>
  <a class="px-5 pb-5" href="">Watch now</a>
</div>
